	.site-content {
		padding: 0;
		background: transparent;

		.pg-aligner {
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  height: 100vh;// calc(100vh - 71px);
		}

		.aligner-item {
		  // text-align: center;
		}
}


.home {
	color: #fff;
}

h1 {
	// font-weight: 400;
	// font-family: "bickham-script-pro",serif;
	// font-size: 90px;
	margin: 40px auto 0;
    z-index: 78;
    text-indent: -9999px;
    background: url("/assets/img/jakenjenny.png");
    width: 200px;
    height: 150px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
	  @include media-breakpoint-up(xs) {
	  	width: 300px;
	}

	  @include media-breakpoint-up(sm) {
	  	width: 500px;
	}
}


.trailer {
	margin-bottom: 20px;
}

.btn-primary {
	cursor: pointer;
	padding: 10px 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 700;
}

a, .btn {
	cursor: pointer;
}

.regilink a {
	margin-top: 25px;
	display: block;
	color: #fff;
	font-size: 11px;
	transition: all 0.2s;
	&:hover {
		color: #fff;
		text-decoration: none;
		opacity: .7;
	}
}


.modal {

	h3 {
	    text-transform: uppercase;
	    letter-spacing: .5px;
	    font-size: 12px;
	    font-weight: 700;
	    line-height: 1.5;
	}

	p {
		font-family: $playfair;
		// font-family: $mercury;
		font-weight: 400;
		letter-spacing: 0;
		text-transform: none;
		font-size: 18px;
	}

	li {
		font-family: $playfair;
		font-weight: 400;
		// margin-left: 15px;
		position: relative;
		padding-bottom: 5px;
    	margin-bottom: 5px;
    	font-style: italic;
    	text-align: center;

		&:before {
			// content: "+";
			// position: absolute;
			// left: -15px;
			top: calc(50% - 7px);
			font-family: $gotham;
			font-size: 85%;
			font-style: normal;
			line-height: 1;
			opacity: .77;

		}
	}

}


#modalRevel {
	// p strong {
	//     text-transform: uppercase;
	//     font-size: 75%;
	//     letter-spacing: 2px;
	//     font-weight: 700;
	// }

	p {
		margin-bottom: 20px;
	}

}


#modalSlumber {

	.modal-header {
		padding-bottom: 0;
	}

	ul li a {
		cursor: pointer;
	}


	p.lede {
		font-size: 24px;
		font-weight: 200;
	}
	// p.collapse, p.collapse.in {
	// 	border-top: 4px solid #000;
	//     text-align: left;
	//     font-size: 18px;
	//     font-style: normal;
	//     font-weight: 300;
	//     margin-top: 10px;
	//     line-height: 1.5em;
	// }

}





// .btn-primary {
// 	background: url("../img/gold-01.jpg") no-repeat center center;
// 	background-size: cover;
// 	padding: 15px 10px;
// 	color: #fff;
// 	font-weight: 700;
// 	font-size: 22px;
// 	border: 0;
// 	text-shadow: rgba(0, 0, 0, 0.8) 2px 2px 5px;
// }


// h1 {
// 	font-weight: 700;
// 	text-transform: uppercase;
// 	letter-spacing: 3px;
// 	line-height: 1;
// }

p {
	font-weight: 700;
	letter-spacing: 3px;
	font-size: 22px;
	text-transform: uppercase;
}

h2 {
	font-family: $font-family-sans-serif;
	font-weight: 700;
	letter-spacing: 3px;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: .75em;
	&:first-child {
		margin-bottom: 0;
	}

	&.light {
		font-weight: 300;
	}
	// font-family: $font-family-serif;
}

// h1 {
// 	font-family: "clarendon-text-pro",sans-serif;
// 	// font-family: 'Gotham SSm A', 'Gotham SSm B';
// 	// font-weight: 700;
// }


.home {
	background: #333;
}




.blockcap {
	font-family: $font-family-sans-serif;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: 700;
	font-style: normal;
}



.modal-header {
	// background: $brand-primary;
	border-bottom: none;
	background: #fff;
	text-align: center;
	// padding: 20px 20px 0 20px;
}

.modal-title {
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;

}

.home {
	.btn + .btn {
		margin-left: 20px;
	}

	.modal-body {
		color: #333;
		// padding: 20px;
		// background: $brand-primary;

		// a {
		// 	font-weight: 600;
		// }

		// ul {
		// 	padding-left: 20px;
		// }
	}
}




// VERTICAL MODAL TEST #3

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    // height:inherit;
    // /* To center horizontally */
    // margin: 0 auto;
    // max-width: 95%;
    margin: 0 auto;
    pointer-events:all;
    border: 15px solid $brand-primary;
    border-radius: 0;
}



// $buttonBackground: transparent;
// $buttonColor: rgba(255,255,255,1);

// .sparkley {

//     background: $buttonBackground;
//     color: transparentize( $buttonColor,0.8 );
//   border: none;

//   padding: 16px 36px;
//   font-weight: normal;

//   border-radius: 3px;
//   transition: all 0.25s ease;

//   box-shadow: 0 38px 32px -23px black;
//   margin: 0 1em 1em;


// }



::selection { color: #fff;
  background-color: gold;
}
::-moz-selection { color: #fff;
  background-color: gold;
}



:focus {
	outline: 0!important;
	// outline: -webkit-focus-ring-color auto 5px;
}








// .freebirdHeaderMast {
// 	background-color: red!important;
// }


// RSVP STYLEZ



.rsvp {
	background: url("/assets/img/paper.png");

	&:before {
		position: fixed;
		content: "";
		background: rgba(255,255,255,0.71);
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}






.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	// margin: 1em;
	margin: 0;
	// max-width: 350px;
	// width: calc(100% - 2em);
	width: 100%;
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #bbb;
	font-weight: 400;
	font-family: $font-family-sans-serif;
	// font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	// color: #696969;
	// font-weight: bold;
	// font-size: 70.25%;
	color: rgba(0,0,0,0.3);
	font-size: 15px;
	transition: opacity .4s;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

/* Individual styles */



/* Chisato */

.input--chisato {
	padding-top: 1em;
}

.input__field--chisato {
	width: 100%;
	padding: 0.8em 0.5em;
	background: transparent;
	border: 2px solid transparent;
	border-bottom: 2px solid rgba(0,0,0,0.5);
	// color: #b5b5b5;
	color: #000;
	-webkit-transition: border-color 0.25s;
	transition: border-color 0.25s;
}

.input__label--chisato {
	width: 100%;
	position: absolute;
	top: -5px;
	left: 0;
	text-align: left;
	overflow: hidden;
	padding: 0;
	pointer-events: none;
	-webkit-transform: translate3d(0, 3em, 0);
	transform: translate3d(0, 3em, 0);
}

.input__label-content--chisato {
	padding: 0 1em;
	font-weight: 400;
	color: rgba(0,0,0,0.5);
	// color: #b5b5b5;
}

.input__label-content--chisato::after {
	content: attr(data-content);
	position: absolute;
	top: -150%;
	left: 0;
	// color: #da6484;
	// color: $brand-primary;
	color: #000;
	font-weight: 700;
    text-transform: uppercase;
    // font-size: 80%;
    font-size: 9px;
}

.input__field--chisato:focus,
.input--filled .input__field--chisato {
	// border-color: #da6484;
	border-color: $brand-primary;
}

.input__field--chisato:focus + .input__label--chisato,
.input--filled .input__label--chisato {
	-webkit-animation: anim-chisato-1 0.25s forwards;
	animation: anim-chisato-1 0.25s forwards;
}

.input__field--chisato:focus + .input__label--chisato .input__label-content--chisato,
.input--filled .input__label-content--chisato {
	-webkit-animation: anim-chisato-2 0.25s forwards ease-in;
	animation: anim-chisato-2 0.25s forwards ease-in;
}

@-webkit-keyframes anim-chisato-1 {
	0%, 70% {
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}
	71%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes anim-chisato-2 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	70%, 71% {
		-webkit-transform: translate3d(0, 125%, 0);
		transform: translate3d(0, 125%, 0);
		opacity: 0;
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		color: transparent;
		-webkit-transform: translate3d(0, 200%, 0);
		transform: translate3d(0, 200%, 0);
	}
}

@keyframes anim-chisato-1 {
	0%, 70% {
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}
	71%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes anim-chisato-2 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	70%, 71% {
		-webkit-transform: translate3d(0, 125%, 0);
		transform: translate3d(0, 125%, 0);
		opacity: 0;
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		color: transparent;
		-webkit-transform: translate3d(0, 200%, 0);
		transform: translate3d(0, 200%, 0);
	}
}









.hidden {
	  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s;
}


span.inline {
	// font-size: 50px;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	display: inline-block;
	top: -10px;
	position: relative;
	line-height: 1;
}

.switch {
	display: inline-block;
	margin: 0 15px;
}




















.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}



input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
  transition: background 0.4s;
  top: 20px;
}
input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 52px;
  background-color: #dddddd;
  border-radius: 52px;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  // background-color: gold; //$brand-primary; //#8ce196;
  //background: url(http://www.myfreetextures.com/wp-content/uploads/2011/06/illust18.jpg);
  background: url("/assets/img/gold-8002.jpg");
  background-size: cover;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 60px;
  //background-color: gold; //$brand-primary; //#8ce196;
  //background: url(http://www.myfreetextures.com/wp-content/uploads/2011/06/illust18.jpg);
  background: url("/assets/img/gold-8002.jpg");
  background-size: cover;
}



// .reveal-if-active {
//   opacity: 0;
//   max-height: 0;
//   overflow: hidden;
// }

// .radio-inline input[type="radio"]:checked + .reveal-if-active,
// input[type="checkbox"]:checked ~ .reveal-if-active {
//   opacity: 1;
//   max-height: 100px; /* little bit of a magic number :( */
//   overflow: visible;
// }


// .input#attending2:checked ~ .reveal-if-active {
//   opacity: 1;
//   max-height: 100px; /* little bit of a magic number :( */
//   overflow: visible;
// }


#indeed {

	margin-top: 30px;



	// input[type="text"] {
	// 	text-align: center;
	// }

	.the-q {
		margin-bottom: 30px;
	}
}


.rsvp {

	.the-q {
		text-align: left;
	}

	h6 {
		margin-top: 30px;
		text-transform: uppercase;
    font-size: 95%;
	}

	.the-q-1 h6 {
		margin-bottom: 0;
	}


	input[type="text"], textarea#exampleTextarea {
		background: transparent;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 2px solid rgba(0,0,0,0.2);
		border-radius: 0;
		transition: border-color 0.4s;

	&:focus {
		border-bottom: 2px solid rgba(0,0,0,0.8);
	}

	}
}



// ALERTS

.alert {
	border-radius: 0;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;	
    margin: 0!important;
}

.alert-danger {
	background-color: red;
	color: white;
}

.alert-success {
	background: url("/assets/img/gold-8002.jpg");
	background-size: cover;
	color: $gray-dark;
}

.alert button.close {
	text-shadow: 0;
	color: #fff;
	opacity: 1;
}

