// THE TYPE


p {
	font-weight: 700;
	letter-spacing: 3px;
	font-size: 22px;
	text-transform: uppercase;
}

h2 {
	font-family: $font-family-sans-serif;
	font-weight: bold;
	line-height: normal;
	margin: 0;
	font-size: 21px;
	-webkit-font-smoothing: antialiased;
	&:first-child {
		margin-bottom: 0;
	}

	&.light {
		font-weight: 300;
	}
	// font-family: $font-family-serif;
}



h1 {
	font-weight: 400;
	font-size: 90px;
}


.blockcap {
	font-family: $font-family-sans-serif;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: 700;
	font-style: normal;
}






// THE LINKS

.btn-primary {
	cursor: pointer;
	padding: 10px 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 700;
}

a, .btn {
	cursor: pointer;

	&:focus, &:hover {
		text-decoration: none;
	}
}

.regilink a {
	margin-top: 25px;
	display: block;
	color: #fff;
	font-size: 11px;
	transition: all 0.2s;
	&:hover {
		color: #fff;
		text-decoration: none;
		opacity: .7;
	}
}


.btn-info-outline {
	
	transition: all .4s;
	
	&:hover {
		color: $black;
	}
}






// THE MODULES


// THE ARTICLE TEASERS

.article-teaser {

	position: relative;


	a {
		color: #fff;
	}



	h2, h3 {
		bottom: 0;
		margin: 0;
		width: 100%;
		max-height: 100%;
		overflow: hidden;		

		a {
			background-image: url("../img/lines.gif");
			background-color: rgba(0,0,0,0.4);
			padding: 2px 2% 4px;
			display: block;
			text-shadow: 1px 2px 1px rgba(0,0,0,0.4);			
		}
	}

	.category, h2, h3 {
		position: absolute;
	}

}





	.category {
		font-size: 12px;
		font-weight: 600;
		padding: 4px 8px;
		right: 0;
		text-transform: uppercase;
		top: 0;	
		background-color: $red;

		&.arts {
			background-color: $blue;	
			color: $white;
		}

		&.community {
			background-color: $yellow;	
			color: $black;
		}		

		&.visit {
			background-color: $orange;
			color: $black;
		}

		&.work {
			background-color: $green;
			color: $black;
		}

		&.learn {
			background-color: $red;	
			color: $white;
		}				
	}	







// THE ALERTS

.alert {
	border-radius: 0;
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;	
	margin: 0!important;
}

.alert-danger {
	background-color: red;
	color: white;
}

.alert-success {
	background: url("/assets/img/gold-8002.jpg");
	background-size: cover;
	color: $gray-dark;
}

.alert button.close {
	text-shadow: 0;
	color: #fff;
	opacity: 1;
}










// THE DETAILS

::selection { color: #fff;
  background-color: gold;
}
::-moz-selection { color: #fff;
  background-color: gold;
}

:focus {
	outline: 0!important;
	// outline: -webkit-focus-ring-color auto 5px;
}

