nav.navbar {

	padding: 0;
	position: relative;

	ul.list-inline {
		margin-bottom: 0;
		margin-right: 30px;
	}

	.list-inline-item:not(:last-child) {
		margin-right: 20px;
	}
	
	a.nav-link {
		font-size: 20px;
		font-weight: 500;
		color: #fff;
		text-transform: uppercase;
		line-height: 70px;
		transition: ease .2s;
	}	

	a.navbar-brand {
		text-indent: -9999px;
		width: 128px;
		height: 126px;
		position: absolute;
		left: 30px;
		top: -32px;
		background-image: url("../img/db-logo-10.png");
		transform: scale(1.0);
		transition: ease .2s;
	}


	&.bg-inverse {
		color: $white;
	}


}


// FOR SHRINKING NAV


// #nav-container {
// 	max-width: inherit;
// 	width: 100%;
// 	position: relative;	

// 		&:after {
// 			content: "";
// 			position: absolute;
// 			width: 100%;
// 			bottom: 0;
// 			height: 15px;
// 			margin-bottom: -15px;
// 			z-index: 4999999;
// 			left: 0;	
// 			background: linear-gradient(rgba(0,0,0,.2),transparent);		
// 		}
// }


	.sps {
		position: fixed!important;
		top: 100px;
		width: 100%;
		transition: all 0.25s ease;
	}

	nav.navbar.sps--abv {
		background-color: $black;
		color: $black;	


			.nav-social-list {
				display: none;
			}		

	}

	nav.navbar.sps--blw {
		background-color: $black;
		// background-color: rgba(68,68,68,0.97);
		color: $white;
		z-index: 10;			
		top: 0;
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			bottom: 0;
			height: 15px;
			margin-bottom: -15px;
			z-index: 4999999;
			left: 0;	
			background: linear-gradient(rgba(0,0,0,.23),transparent);		
		}		


			a.navbar-brand {
				transform: scale(.5);
			}

			a.nav-link {
				font-size: 18px;
				color: #fff;
				line-height: 50px;
			}	

			.nav-social-list {
				display: inline-block;
				margin-right: 30px;
			}

			.nav-nav-item {
				display: none;
			}


	}




#collapseOne {

	.innercollapse {
		padding: 3rem;
	}

	ul.huge-nav li a {
		font-size: 72px;
		font-weight: 300;
		color: $gray-lighter;
		transition: .3s all;

		&:hover {
			color: $blue;
		}
	}

	ul.secondary-nav li a {
		font-weight: 300;
		color: $gray-lighter;
		transition: .3s all;
		font-size: 22px;
		text-transform: uppercase;
			
			&:hover {
				color: $blue;
			}		
	}

	.list-inline-item:not(:last-child) {
		margin-right: 12px;
	}



	ul.tertiary-nav {
		border-top: 1px solid rgba(236,238,239,0.3); //$gray-lighter;
		margin-top: 30px;
		padding-top: 30px; 
		
		li a {
			color: $gray-lightest;

			&:hover {
				color: $blue;
			}	

		}

	}




}









.highlight-roll {
	margin-top: 70px;
}    


#accordion {
	position: absolute;
	width: 100%;
	bottom: -70px;
	margin: 0	
}

.navwrapper {
	position: relative;
	// background: salmon;
	// height: 800px;	
}

#collapseOne.collapse.in, #collapseOne.collapsing.in {
	height: 77vh;
	padding: 0;
	margin: 0;	
	position: absolute;
	background: #444;
	bottom: 0;
	width: 100%;
	// @extend %texture-bg;
}

.no-transition {
  // transition: height 0.001s;
  transition: height 0.0001s;
}





