/* the tasty burger */
.burger-menu {
  position: relative;
  width: 40px;
  height: 30px;
  cursor: pointer;
}
.burger {
  position: absolute;
  background: $white;
  width: 100%;
  height: 7px;
  top: 50%;
  right: 0px;
  margin-top: -5px;
  opacity: 1;
}
.burger::before {
  position: absolute;
  background: $white;
  width: 40px;
  height: 7px;
  top: 15px;
  content: "";
  display: block;
}
.burger::after {
  position: absolute;
  background: $white;
  width: 40px;
  height: 7px;
  bottom: 15px;
  content: "";
  display: block;
}
.burger::after, .burger::before, .burger {
  transition: all .3s ease-in-out;
}

.perspective.animate {

  .burger-menu .burger::after{
     transform: rotate(-45deg);
     background: $white;
    bottom: 0px;
  }
  .burger-menu .burger::before{
     transform: rotate(45deg);
     background: $white;
    top: 0px;
  }
  .burger-menu .burger{
   background: transparent;
  }

}

/* useless css */
.burger-menu {
  margin-left:auto;
  margin-right: auto;
}