	.site-content {
		padding: 0;
		background: transparent;

		.pg-aligner {
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  height: 100vh;// calc(100vh - 71px);
		}

		.aligner-item {
		  // text-align: center;
		}
}


footer {
	color: $white;
	background: #333;
}