.home {
	
	color: #fff;
	background: #333;
	@extend %texture-bg;

	.navwrapper {
		position: absolute;
		top: 35px;
		left: 0;
		width: 100%;
		z-index: 9
	}

	.article-teaser {
		margin: 3vh 0;
		height: 24vh;
	}

	.outer-nav .primary-nav li a {
		font-size: 36px;
	}

	.outer-nav .secondary-nav li a {
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 500;
	}
	
	.highlight-roll {
		margin-top: 0;
	}
}


.texture-bg {
	@extend %texture-bg;
}


.post .site-content {
	@extend %texture-bg;	
}


.square-slider {

	border-top: 4px solid $black;
	
	h2 {
		color: $black;
		text-transform: uppercase;
		font-size: 26px;
		font-weight: 700;
		margin: 20px 0;
	}


}







#nav-2 {
	
	position: absolute;
	top: 35px;
	z-index: 9;
	width: 100%;
}



// THE POST



.post {

	@extend %texture-bg;

	article.single-card {
		margin-top: 250px!important;
	}

}












// FORMER HOME PAGE

// .home {

// 	color: #fff;
// 	background: #333;
// 	@extend %texture-bg;


// 	.article-teaser {
// 		margin: 3vh 0;
// 		height: calc(24vh - 70px);
// 	}

// 	.bg-inverse {
// 		background: $black;
// 	}


// 	footer {
// 		display: none;
// 	}
// }
